/***********************
*Created Using Bootstrap*
************************/

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f0c1d2;
	font-family: 'Open Sans', sans-serif;
}
.pagination>li:first-child>a, 
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span  {
	color:#fff;
}

/*Name appearance*/

.name h1,
.name a:link,
.name a:visited,
.name a:hover,
.name a:active {
    color: #fff;
    float: left;
    padding: 5px;
    position: fixed;
    text-decoration: none;
    z-index: 2;
}
.name a:link,
.name a:visited,
.name a:hover,
.name a:active {
    font-size: 20px;
    margin: 60px 0 0 30px;
}
.name h1 {
    font-family: 'Bad Script', cursive;
    font-size: 50px;
    margin: 0 0 0 30px;
}
.name a:hover {
    color: #a78893;
}
/*Top left triangle Header*/

#triangle-topleft {
    border-left: 0 solid #f0c1d2;
    border-right: 1200px solid transparent;
    border-top: 125px solid #d8adbd;
    height: 0;
    position: fixed;
    width: 0;
    z-index: 1;
}
hr {
    background-color: #825666;
    border-radius: 50%;
    border-color: #825666;
    border-style: ridge;
    display: block;
    height: 1px;
    margin-bottom: 10px;
    margin: 5px 50px 5px 50px;
}
.container {
	width:300px;
	min-width:50px;
}
.well {
  min-height: 20px;
  bottom:0;
  background-color: #d8adbd;
    background: rgba(216, 173, 189, 0.75);
  border-color:transparent;
  position: absolute;
  text-align: center;
  font-family: 'Bad Script', cursive;
  font-size: 50px;
  color: #fff;
}
.well h3 {
	font-family: 'Open Sans', sans-serif;
}
.pagination {
    position: relative;
    margin-top: 140px;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 12px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #fff;
    text-decoration: none;
    background-color: #d8adbd;
    border: 1px solid #ac8a97;
}
/*Config for caption display*/

figure {
    display: block;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0 20px 20px 0;
    position: relative;
    border-color: #ac8a97;
    border-style: solid;
    border-radius: 10%;
    border-width: 100%;
}
figcaption {
    position: absolute;
    background: black;
    background: rgba(216, 173, 189, 0.75);
    color: #fff;
    padding: 10px 20px;
    opacity: 0;
    margin: auto;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    font-family: 'Open Sans', sans-serif;
    z-index: 1;
}
figure:hover figcaption {
    opacity: 1;
    z-index: 1;
    border-color: #d8adbd;
    border-style: solid;
    border-radius: 10%;
    border-width: 100%;
    padding-left: 10px;
}
figure:before {
    content: "?";
    position: absolute;
    font-weight: 800;
    background: black;
    background: rgba(240, 193, 210, 0.75);
    text-shadow: 0 0 5px white;
    color: black;
    width: 24px;
    height: 24px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    -moz-transition: all 0.6s ease;
    opacity: 0.75;
    z-index: 1;
}
figure:hover:before {
    opacity: 0;
}
/*Have caption display on the left*/

.cap-left:before {
    bottom: 10px;
    left: 10px;
}
.cap-left figcaption {
    bottom: 0;
    left: -30%;
}
.cap-left:hover figcaption {
    left: 0;
}
/*Have caption display on the right*/

.cap-right:before {
    bottom: 10px;
    right: 10px;
}
.cap-right figcaption {
    bottom: 0;
    right: -30%;
}
.cap-right:hover figcaption {
    right: 0;
}
/*Have caption display on the top*/

.cap-top:before {
    top: 10px;
    left: 10px;
}
.cap-top figcaption {
    left: 0;
    top: -30%;
}
.cap-top:hover figcaption {
    top: 0;
}
/*Have caption display on the bottom*/

.cap-bot:before {
    bottom: 10px;
    left: 10px;
}
.cap-bot figcaption {
    bottom: -30%;
}
.cap-bot:hover figcaption {
    bottom: 0;
}
#image1,
#image2,
#image3,
#image4,
#image5,
#image6,
#image7,
#image8,
#image9,
#image10,
#image11,
#image12,
#image13,
#image14,
#image15,
#image16,
#image17 {
    margin: 15px;
    position: absolute;
    z-index: 0;
}
/*How far left image is from right side of the screen*/
#image1:hover,
#image2:hover,
#image3:hover,
#image4:hover,
#image5:hover,
#image6:hover,
#image7:hover,
#image8:hover,
#image9:hover,
#image10:hover,
#image11:hover,
#image12:hover,
#image13:hover,
#image14:hover,
#image15:hover,
#image16:hover,
#image17:hover {
    z-index:1;
}
#image1 {
    left: 350px;
	margin-top: 150px;
}
#image2 {
    left: 675px;
	margin-top: 150px;
}
#image3 {
    left: 800px;
	margin-top: 150px;
}
#image4 {
    left: 1250px;
	margin-top: 150px;
}
#image5 {
    left: 300px;
    margin-top: 350px;
}
#image6 {
    left: 550px;
    margin-top: 350px;
}
#image7 {
    left: 800px;
    margin-top: 350px;
}
#image8 {
    left: 1050px;
    margin-top: 350px;
}
#image9 {
    left: 1200px;
    margin-top: 350px;
}
#image10 {
    left: 700px;
}
#image11 {
    left: 200px;
}
#image12 {
    left: 500px;
}
#image13 {
    left: 100px;
    margin-top: 250px;
}
#image14 {
    left: 800px;
    margin-top: 250px;
}
#image15 {
    left: 600px;
    margin-top: 250px;
}
#image16 {
    left: 400px;
    margin-top: 250px;
}
#image17 {
    left: 900px;
    margin-top: 250px;
}
/*Dimensions of the image*/

#image1 img {
    height: 300px;
    width: 300px;
}
#image1 img:hover {
    height: 400px;
    width: 400px;
}
#image2 img {
    height: 325px;
    width: 300px;
}
#image2 img:hover {
    height: 425px;
    width: 400px;
}
#image3 img {
    height: 325px;
    width: 300px;
}
#image3 img:hover {
    height: 425px;
    width: 400px;
}
#image4 img {
    height: 300px;
    width: 325px;
}
#image4 img:hover {
    height: 400px;
    width: 425px;
}
#image5 img {
    height: 300px;
    width: 325px;
}
#image5 img:hover {
    height: 400px;
    width: 425px;
}
#image6 img {
    height: 325px;
    width: 325px;
}
#image6 img:hover {
    height: 425px;
    width: 425px;
}
#image7 img {
    height: 350px;
    width: 350px;
}
#image7 img:hover {
    height: 450px;
    width: 450px;
}
#image8 img {
    height: 300px;
    width: 325px;
}
#image8 img:hover {
    height: 400px;
    width: 425px;
}
#image9 img {
    height: 300px;
    width: 300px;
}
#image9 img:hover {
    height: 400px;
    width: 400px;
}
#image10 img {
    height: 400px;
    width: 400px;
}
#image10 img:hover {
    height: 500px;
    width: 500px;
}
#image11 img {
    height: 400px;
    width: 400px;
}
#image11 img:hover {
    height: 500px;
    width: 500px;
}
#image13 img {
    height: 400px;
    width: 400px;
}
#image13 img:hover {
    height: 500px;
    width: 500px;
}
#image13 img {
    height: 400px;
    width: 400px;
}
#image13 img:hover {
    height: 500px;
    width: 500px;
}
#image14 img {
    height: 400px;
    width: 400px;
}
#image14 img:hover {
    height: 500px;
    width: 500px;
}
#image15 img {
    height: 400px;
    width: 400px;
}
#image15 img:hover {
    height: 500px;
    width: 500px;
}
#image16 img {
    height: 400px;
    width: 400px;
}
#image16 img:hover {
    height: 500px;
    width: 500px;
}
#image17 img {
    height: 400px;
    width: 400px;
}
#image17 img:hover {
    height: 400px;
    width: 400px;
}
#image1 img,
#image2 img,
#image3 img,
#image4 img,
#image5 img,
#image6 img,
#image7 img,
#image8 img,
#image9 img,
#image10 img,
#image11 img,
#image12 img,
#image13 img,
#image14 img,
#image15 img,
#image16 img,
#image17 img {
    position: relative;
    border-color: #d8adbd;
    border-style: solid;
    border-radius: 10%;
    border-width: 100%;
    z-index: 1;
}
#image1 img:hover,
#image2 img:hover,
#image3 img:hover,
#image4 img:hover,
#image5 img:hover,
#image6 img:hover,
#image7 img:hover,
#image8 img:hover,
#image9 img:hover,
#image10 img:hover,
#image11 img:hover,
#image12 img:hover,
#image13 img:hover,
#image14 img:hover,
#image15 img:hover,
#image16 img:hover,
#image17 img:hover {
    position: relative;
    border-color: #d8adbd;
    border-style: solid;
    border-radius: 10%;
    border-width: 100%;
    z-index: 2;
}