/***********************
*Created Using Bootstrap*
************************/

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f0c1d2;
    font-family: 'Open Sans', sans-serif;
}
hr {
    border-color: #fff;
    border-radius: 4px;
    width: 80%;
    margin: 0 auto;
}
/*Zooms in onto the image on mouse hover*/

img {
    -moz-transition: -moz-transform 0.5s ease-in;
    -webkit-transition: -webkit-transform 0.5s ease-in;
    -o-transition: -o-transform 0.5s ease-in;
}
img:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
}
/*Name appearance*/

.name h1 {
    font-family: 'Bad Script', cursive;
    font-size: 50px;
    margin: 30px;
    color: #fff;
    float: left;
    position: fixed;
    text-decoration: none;
    z-index: 2;
}
.glyphicon {
    font-size: 40px;
	    z-index: 2;
		top: 90%;
		position:fixed;
		margin:15px;
		background-color: rgba(216, 173, 189, .3);
		border-radius: 50px;
		padding:15px;
		color: #fff;
}
/*Top left triangle Header*/

#triangle-topleft {
    border-left: 0 solid #f0c1d2;
    border-right: 1200px solid transparent;
    border-top: 135px solid rgba(216, 173, 189, .8);
    height: 0;
    position: fixed;
    width: 0;
    z-index: 1;
}
.well {
    margin: 125px 200px 20px 200px;
    background: rgba(216, 173, 189, 0.5);
    border: 2px solid transparent;
    border-radius: 40px;
}
.well h1 {
    text-align: center;
    font-family: 'Bad Script', cursive;
    color: #fff;
}
.well h3 {
    font-family: 'Open Sans', sans-serif;
	padding:0 10px;
    color: #fff;
}
/*Config for caption display*/

figure {
    display: block;
    position: relative;
    float: left;
    overflow: hidden;
    position: relative;
}
figcaption {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    position: absolute;
    background: rgba(216, 173, 189, 0.75);
    color: #fff;
    padding: 10px 20px;
    opacity: 0;
    margin: 0 auto;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    z-index: 1;
}
figure:hover figcaption {
    margin: 0 auto;
    opacity: 1;
    z-index: 1;
    border-radius: 1px;
    border-width: 100%;
    padding-left: 10px;
}
figure:hover:before {
    opacity: 0;
}
/*Have caption display on the left*/

.cap-left:before {
    bottom: 10px;
    left: 10px;
}
.cap-left figcaption {
    bottom: 0;
    left: -30%;
}
.cap-left:hover figcaption {
    left: 0;
}
/*Have caption display on the right*/

.cap-right:before {
    bottom: 10px;
    right: 10px;
}
.cap-right figcaption {
    bottom: 0;
    right: -30%;
}
.cap-right:hover figcaption {
    right: 0;
}
/*Have caption display on the top*/

.cap-top:before {
    top: 10px;
    left: 10px;
}
.cap-top figcaption {
    left: 0;
    left: 0;
    top: -30%;
}
.cap-top:hover figcaption {
    top: 0;
}
/*Have caption display on the bottom*/

.cap-bot:before {
    bottom: 10px;
    left: 10px;
}
.cap-bot figcaption {
    bottom: -30%;
}
.cap-bot:hover figcaption {
    bottom: 0;
}
#picContainer figure {
    display: inline-block;
}
.row #picContainer {
	margin-left:15px;
}